# === Unity generated ===
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/

# === Asset Store Tools ===
# (uncomment if you really need to ignore them)
# /[Aa]ssets/AssetStoreTools*

# === Rider, VS, IDEs ===
.vs/
*.csproj *.sln *.userprefs *.pidb.meta

# === OS generated ===
Thumbs.db
.DS_Store
